.leaflet-container {
  height: 90vh;
  width: 90%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.leaflet-popup-content,
.leaflet-tooltip,
.leaflet-control-attribution,
.leaflet-control-layers label {
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 400;
}

.custom-marker-cluster {
  background-color: #fff;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 3px;
  animation: fadeIn 0.3s ease-in-out;
  /* Animation de fade-in */
  transition: transform 0.2s;
}

.custom-marker-cluster:hover {
  transform: scale(1.1);
  /* Effet de survol */
}

.cluster-icon {
  color: #007bff;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.map-container {
  height: 100vh;
  width: 100%;
}

/* Popup content styles */
.leaflet-popup-content-wrapper {
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
  padding: 16px;
  background-color: transparent !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}

.leaflet-popup-close-button {
  display: none !important;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content img {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.device-name {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #007bff;
}

.info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 12px;
}

.info-grid .info-label {
  font-weight: bold;
  color: #555;
  text-align: right;
}

.info-grid .info-value {
  color: #333;
  padding-left: 8px;
}

.info-grid .info-id {
  font-style: italic;
}

.description-title {
  font-weight: bold;
}

.popup-content .description {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-top: 16px;
  padding-top: 8px;
  border-top: 1px solid #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}